body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  width: 400px;
  margin: auto;
}

#chat {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 10px;
}
